<%= form_with(model: order, local: true) do |form| %>
    <% if order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
            <% order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%if @order.reservation_id == 2500%>
        <div class="field">
          <%= form.label :real_checkout_time %>
          <%= form.datetime_select :real_checkout_time, id: :order_real_checkout_time, :default => { :hour => Time.now.hour, :minute => Time.now.min }%>
        </div>
    <%end%>

    <%if @order.reservation_id == 2500%>
        <div class="field">
          <%= form.label :rental_period %>
          <%= form.select :return_time,  options_for_select([1,2,3,4,5,6,7,8,9,10],1), {:class => 'form-control', :prompt => ''}  %>
          <%= form.label :hours %>
        </div>
    <%end%>

    <%if @order.reservation_id == 2500%>
        <div class="field">
          <%= form.label :tel %>
          <%= form.text_field :tel, id: :order_tel %>
        </div>
    <%end%>

    <%if @order.reservation_id == 2500%>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :order_id %>
    </div>
    <%else%>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :reservation_id %>
    </div>
    <%end%>

    <%if @order.reservation_id == 2500%>
    <div class="field">
      <%= form.label :car_id %>
      <%= form.text_field :car_id, id: :order_car_id,readonly: true %>
    </div>
    <%else%>
        <div class="field">
          <%= form.label :car_id %>
          <%= form.text_field :car_id, id: :reservation_id ,readonly: true%>
        </div>
    <%end%>

    <%if @order.reservation_id == 2500%>
    <div class="field">
      <%= form.label :email%>
      <%= form.text_field :email, id: :order_id %>
    </div>
    <%else%>
        <div class="field">
          <%= form.label :email %>
          <%= form.text_field :email, id: :reservation_id %>
        </div>
    <%end%>

    <%if @order.reservation_id == 2500%>
    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address, id: :order_id %>
    </div>
    <%else%>
        <div class="field">
          <%= form.label :address %>
          <%= form.text_field :address, id: :reservation_id %>
        </div>
    <%end%>

    <div class="field">
      <%= form.label :reservation_id %>
      <%= form.text_field :reservation_id, id: :reservation_id, :readonly => true %>
    </div>

    <div class="field">
      <%= form.label :pay_type %>
      <%= form.select :pay_type, Order::PAYMENT_TYPES, id: :order_pay_type %>
    </div>

    <div class="actions">
      <%= form.submit "Confirm Order" %>
    </div>
<% end %>
