<p id="notice"><%= notice %></p>


<p>
  <strong>Order Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @order.user_id %>
</p>

<%if @order.reservation_id == 2500%>
<p>
  <strong>Checkout Time:</strong>
  <%= @order.real_checkout_time %>
</p>
<%end%>

<%if @order.reservation_id == 2500%>
<p>
  <strong>Return Time:</strong>
  <%= @order.return_time %>
</p>
<%end%>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Car_id:</strong>
  <%= @order.car_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<%if @order.reservation_id == 2500%>
<p>
  <strong>Tel:</strong>
  <%= @order.tel %>
</p>
<%end%>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>
<%= button_to 'Cancel order', @order, :method => :delete, data: {confirm: 'Are you sure?'} %>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
