<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
  <tr>
    <th>Reservation ID</th>
    <th>User ID</th>
    <th>Car ID</th>
    <th>Status</th>
    <th>Reserve time</th>
    <th>Checkout time</th>
    <th>Return time</th>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.user_id %></td>
        <td><%= reservation.car_id %></td>
        <td><%= reservation.status %></td>
        <td><%= reservation.reserve_time.strftime '%Y-%m-%d %H:%M:%S' %></td>
        <td><%= reservation.checkout_time.strftime '%Y-%m-%d %H:%M:%S' %></td>
        <td><%= reservation.return_time.strftime '%Y-%m-%d %H:%M:%S' %></td>
        <td><%= reservation.name %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <td>
          <% if reservation.status == 'reserved' %>
              <%= button_to 'Checkout', new_order_path(:reservation_id => reservation.id), :method => :post %>
          <% end %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

