
<h1>All admins</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>email</th>
    <th colspan ="2"></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>

        <td><%=user.name%></td>
        <td><%=user.email%></td>
        <td><%=link_to "show",user_path(user)%></td>
        <td><%=link_to "edit",edit_user_path(user)%></td>
            <%if !current_user?(user)%>

            <td><%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %></td>
            <%end%>
            <%=yield%>
        <% end %>
        </tr>
  </tbody>
</table>