<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @line_item.car_id %>
</p>

<p>
  <strong>Reservation:</strong>
  <%= @line_item.reservation_id %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
