<!DOCTYPE html>
<html>
  <head>
    <title>Rental Car System</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag     'rental', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="store">
  <div id="banner">
    <%= image_tag("logo.png", :size => '50x50')%>
    <%= @page_title || "Automatic Rental Car System"%>
  </div>
  <div id="columns">
    <div id="side">
      <%=link_to "Home", store_index_path%><br />

     <%if !logged_in?%>
          <%=link_to "Sign up", signup_path%><br />
          <%=link_to "login", login_path%><br />
          <%else%>

      <%= link_to "Reservations", reservations_path%><br/>
      <%= link_to "Checkout History", orders_path%><br/>
      <%= link_to "Profile", current_user%><br/>
      <%= button_to "Log out", logout_path, :method=> :delete %><br/>
          <%if adminu?%>
              <%= link_to "Cars", cars_path%><br/>
              <%=link_to"all user",users_path%><br/>
              <%=link_to "all admins",adminl_index_path%><br/>
              <%=link_to "Create admin", signup_path%><br />

          <%elsif sadminu?%>
              <%= link_to "Cars", cars_path%><br/>
              <%=link_to"all user",users_path%><br/>
              <%=link_to "all admins",adminl_index_path%><br/>
              <%=link_to"all superadmins",sadminl_index_path%><br/>
              <%=link_to "Create admin", signup_path%><br/>
              <%end%>
          <%end%>
    </div>
    <div id="main">
    <%= yield %>
  </body>
</html>

